/* Приветствие */
.greeting {
  padding: 40px;
  font-size: 22px;
}

/* Форма */
.form-container {
  background-color: white;
  padding: 45px;
  border-radius: 0px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  text-align: center;
}

/* Группа полей */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Радио-кнопки */
.radio-group {
  display: flex;
  gap: 20px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.radio-group input[type="radio"] {
  margin: 0;
  cursor: pointer;
}

/* Кнопка отправки */
button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  transform: scale(0.98);
}

/* Магазин */
.shop-overview {
  padding: 35px;
  text-align: center;
}

.shop-overview h2 {
  margin-bottom: 20px;
}

.shop-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.shop-item {
  background-color: #a89680;
  padding: 20px;
  border-radius: 10px;
  width: 25%;
}

.shop-item img {
  width: 100%;
  border-radius: 10px;
}

.shop-item h3 {
  margin: 15px 0 10px;
}
